.experience__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.experience__content > div, article:hover{
    background: transparent;
    border: 3px solid var(--color-primary);
    backdrop-filter: hue-rotate(40deg);
    cursor: default;
}
.experience__content > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.experience__content > div, article{
   background: var(--color-primary-variant);
   padding: 2rem 4rem;
   border-radius: 2rem;
  
}

.logos {
    width: 20%;
    height: 20%;
    margin: 10px;
    flex-direction: column;
}

.logo-groups{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: left;
   box-sizing: border-box;
   max-width: 200px;
    max-height: 150px;
    row-gap: 10px;
}

article > h3{
    color: var(--light-color);
    text-shadow: 0.5rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
  }


/*Media Query for MEDIUM sized display devices */
@media screen and (max-width: 1024px) {
  .experience__container{
    grid-template-columns: 1fr;
  }
  .experience__content{
      padding: 1rem;
  }
  .experience__content > div{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
 }
    

 /*Media Query for SMALL DEVICES */
 @media screen and (max-width: 600px) {
    .experience__container{
        gap:1rem;
    }

    .experience__container >div{
        width: 100%;
        padding: 2rem 1rem;
    }
 }