.experience__content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 80%;
    /* grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    width: 80%; */
}
.experience__content > div, article:hover{
    background: transparent;
    border: 3px solid var(--color-primary);
    backdrop-filter: hue-rotate(40deg);
    cursor: default;
}
.experience__content > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.experience__content > div, article{
   background: var(--color-primary-variant);
   padding: 2rem 4rem;
   border-radius: 2rem;
  
}



.logos {
    width: 20%;
    height: 20%;
    margin: 10px;
    flex-direction: column;
}

.logo-groups{
    display: flex;
    flex-direction: row;
   align-items: center;
    justify-content: left;
   box-sizing: border-box;
   max-width: 200px;
    max-height: 150px;
    row-gap: 10px;
}

.experience__frontend, .experience__backend, .experience__other {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
  article > h3{
    color: var(--color-bg);
  }